body{
    background-color: blanchedalmond;
}

.container {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

 .product{
width: 300px;
height: 420px;
float: left;
 }

 .content {
    width: 300px;
    height: 400px;
    float: left;
    padding: 20px;
    padding-top: 0;
    background-color: whitesmoke;
 }

 .desc {
    color: gray;
 }

 .container2 .box {
    display : grid;
    grid-template-columns: auto auto auto;
    
 }

 .newPrice {
    width: 100px;
    text-align:justify;
    color: orange;
 }

 .empty {
    width: 100px;
    height: 50px;

 }

 .oldPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;   
    color: gray;
    text-decoration: line-through;
 }

 .cart {
    height: 20px;
    width: 20px;
 }

 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 40px;
    border-radius: 10px;
 }

 .textBtn{
    margin-left: 10px;
 }